# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbproject/
nbactions.xml
nb-configuration.xml
manifest.mf
build.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

nbproject/Makefile-*.mk
nbproject/Package-*.bash
.nb-gradle/

# macos system-files
.DS_Store
